{% extends "base_generic.html" %}


{% block title %} <title> Acerca de mi </title> {% endblock %}

{% block content %}





    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/forest2-about.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Acerca de mi</h1>
              <span class="subheading">esto es lo que hago</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <img src="{% static 'img/Yo.jpg' %}" alt="Foto de mi persona" class="rounded img-fluid">
              <hr>
              <h3>¿Quien soy?</h3>
              <p>
                Mi nombre es Emmanuel Perez estudio Ingenieria en Computacion
                en el Tecnologico de Costa Rica
              </p>
            </div>
        </div>
    </div>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img src="{% static 'img/python-logo.png' %}" alt="python logo" class="rounded-circle img-fluid">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Lenguaje favorito python</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Amante de la programacion asi como de aprender nuevas herramientas</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <img src="{% static 'img/python-logo.png' %}" alt="python logo" class="rounded img-fluid">
              <h3>Amante de Python</h3>
              <p class="text-muted">Blog creado en python </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>Ready to Ship</h3>
              <p class="text-muted">You can use this theme as is, or you can make changes!</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>Up to Date</h3>
              <p class="text-muted">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Made with Love</h3>
              <p class="text-muted">You have to make your websites with love these days!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}
