{% extends "base_generic.html" %}


{% block title %} <title> Acerca de mi </title> {% endblock %}

{% block content %}





    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/forest2-about.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Acerca de mi</h1>
              <span class="subheading">esto es lo que hago</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <img src="{% static 'img/Yo.jpg' %}" alt="Foto de mi persona" class="rounded img-fluid">
              <hr>
              <h3>Quien soy?</h3>
              <p>
                Mi nombre es Emmanuel Perez estudio Ingenieria en Computacion
                en el Tecnologico de Costa Rica, mi pasatiempo favorito es
                programar y la fotografia
              </p>
              <!--
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
              -->
            </div>
        </div>
    </div>

    <hr>

{% endblock content %}
