{% extends "base_generic.html" %}

{% block title %} <title> Contacto </title> {% endblock %}

{% block content %}



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/keyboard-contact.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Contacto</h1>
              <span class="subheading">Contactame!</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>
                Me puedes contactar por medio de mi correo electronico: emmanuelperer@hotmail.com o tambien por medio de mi pagina de github
              </p>
            </div>
        </div>
    </div>

{% endblock content %}
