{% extends "base_generic.html" %}

{% block content %}
      <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
      {% load static %}
      <header class="intro-header" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <div class="site-heading">
                          <h1>Ema's Blog</h1>
                          <hr class="small">
                          <span class="subheading">Bienvenido a mi blog!</span>
                      </div>
                  </div>
              </div>
          </div>
      </header>

      <!-- Main Content -->
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-8">

                <!-- POSTS ---------------------------------------------------->
                <hr>
                {% for post in blog_posts %}
                <div class="post-preview">
                    <a href="{{ post.get_absolute_url }}">
                        <h2 class="post-title">
                          {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                          {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Emmanuel Perez</a> on {{ post.datePublished}}</p>
                </div>
                <hr>
                {% endfor %}
                <!-- POSTS ---------------------------------------------------->

                {% block pagination %}
                  {% if is_paginated %}
                  <div class="row">
                        <ul class="pager">
                          {% if page_obj.has_previous %}
                          <li class="previous">
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                          </li>
                          {% endif %}
                          {% if page_obj.has_next %}
                          <li class="next">
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                          </li>
                          {% endif %}
                        </ul>
                  </div>
                  {% endif %}
                {% endblock %}
              <!-- end of column -->
              </div>


              <!--
              <div class="col-md-2 col-md-offset-1 visible-md-block visible-lg-block">
                <ul class="nav nav-pills nav-stacked custom-sidebar">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Menu 1</a></li>
                  <li><a href="#">Menu 2</a></li>
                  <li><a href="#">Menu 3</a></li>
                  <li><a href="#">Menu 4</a></li>
                  <li><a href="#">Menu 5</a></li>
                  <li><a href="#">Menu 6</a></li>
                </ul>
              </div>
            -->
          </div>
      </div>

      <hr>
{% endblock content %}
