{% extends "base_generic.html" %}



{% block content %}


{% block title %} <title>{{ post.title }}</title> {% endblock %}

    <!-- Page Header -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/post-bg.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.subtitle }} </h2>
              <span class="meta">Posted by
                <a href="#">Emmanuel Perez</a>
                on {{ post.datePublished }} </span>
            </div>
            {% if user.is_authenticated %}
            <div class="row">
              <div class="col-lg-2">
                <a class="btn btn-secondary" href="{{ request.path }}/update/" role="button">Edit</a>
              </div>
              <div class="col-lg-2">
                <a class="btn btn-secondary" href="{{ request.path }}/delete/" role="button">Delete</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.bodyHTML|safe }}
            </div>
          </div>
      </div>
    </article>

    <hr>

{% endblock content %}
