*.pyc
__pycache__/
*.py[cod]
*$py.class

# django stuff
*.log
*.pot

env/
eb-virt/
MyBlog/settings.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
MyBlog/settings_dev.py
