container_commands:
  01_makemigrations:
    command: "django-admin.py makemigrations --noinput"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings
