{% extends "base_generic.html" %}
{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Crear Post</h1>
              <span class="subheading">Inserte HTML</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" value="Submit" />
              </form>
            </div>
        </div>
    </div>

{% endblock content %}
